# https://www.dl.dropboxusercontent.com/scl/fi/35w0i0hnsioq63x7eumdd/pyrogagan.zip?rlkey=mq4b56v0z7w7mgj3c0o3sqgo1&st=n7prfm1y&dl=0
pyrofork
psutil
aiofiles
pillow
devgagantools
tgcrypto
pyromod
opencv-python-headless
requests
motor
pytz
flask
aiohttp
telethon
aiojobs
werkzeug==2.2.2
apscheduler 
telethon-tgcrypto
mutagen
yt-dlp
speedtest-cli

python-dotenv
psutil
opencv-python-headless
devgagantools
aiofiles
# ggnpyro
https://www.dl.dropboxusercontent.com/scl/fi/e0fo6fcjn8kmr5r0x6wvg/myownpyro.zip?rlkey=d1znpwckss4ullz0sg7e1qjjg&st=kmbh7wdv&dl=0
aiohttp
telethon-tgcrypto
motor
pymongo
pytz
Pillow
tgcrypto
flask
werkzeug==2.2.2
mutagen
yt-dlp
requests
cryptography
